altgraph==0.17.3
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.8
attrs==22.1.0
Automat==22.10.0
autopep8==2.0.1
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blis==0.7.9
bokeh==3.2.1
boto3==1.28.40
botocore==1.31.40
branca==0.6.0
breadability==0.1.20
catalogue==2.0.8
certifi==2022.9.24
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
confection==0.1.0
constantly==15.1.0
contourpy==1.0.7
cryptography==41.0.3
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
dj-database-url==1.0.0
Django==4.1.1
django-heroku==0.3.1
djangorestframework==3.13.1
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.2
executing==0.10.0
fastjsonschema==2.16.2
filelock==3.8.0
folium==0.14.0
fonttools==4.39.0
future==0.18.2
gensim==4.3.1
geographiclib==2.0
geopy==2.3.0
gunicorn==20.1.0
h11==0.14.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
itemadapter==0.8.0
itemloaders==1.1.0
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.10
jsonschema==4.17.0
jupyter-core==4.11.1
jupyter-server==1.21.0
jupyter_client==7.3.5
jupyterlab==3.5.0
jupyterlab-pygments==0.2.2
jupyterlab_server==2.16.2
kiwisolver==1.4.4
langcodes==3.3.0
lxml==4.9.2
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==2.0.4
murmurhash==1.0.9
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.3
nbformat==5.7.0
nest-asyncio==1.5.5
networkx==3.1
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.22.0
openpyxl==3.1.2
outcome==1.2.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parsel==1.8.1
parso==0.8.3
pathy==0.10.2
pefile==2022.5.30
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==2.5.2
plotly==5.15.0
preshed==3.0.8
prometheus-client==0.15.0
prompt-toolkit==3.0.30
Protego==0.3.0
psutil==5.9.1
psycopg2==2.9.4
psycopg2-binary==2.9.5
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycountry==22.3.5
pycparser==2.21
pydantic==1.10.11
PyDispatcher==2.0.7
pygame==2.1.2
Pygments==2.13.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pyOpenSSL==23.2.0
pyparsing==3.0.9
pyproj==3.6.0
pyrsistent==0.19.2
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0.1
pyzmq==23.2.1
queuelib==1.6.2
regex==2023.6.3
requests==2.28.1
requests-file==1.5.1
s3transfer==0.6.2
scikit-learn==1.3.0
scipy==1.11.1
Scrapy==2.10.1
seaborn==0.12.2
selenium==4.10.0
Send2Trash==1.8.0
service-identity==23.1.0
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlparse==0.4.2
srsly==2.4.6
stack-data==0.4.0
sumy==0.11.0
tabulate==0.9.0
tenacity==8.2.2
terminado==0.17.0
textblob==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
tinycss2==1.2.1
tldextract==3.4.4
tomli==2.0.1
tornado==6.2
tqdm==4.65.0
traitlets==5.3.0
trio==0.22.1
trio-websocket==0.10.3
typer==0.9.0
typing_extensions==4.7.1
tzdata==2022.2
urllib3==1.26.12
virtualenv==20.16.5
w3lib==2.1.2
wasabi==1.1.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
whitenoise==6.2.0
wordcloud==1.9.2
wsproto==1.2.0
xlrd==2.0.1
xyzservices==2023.7.0
zope.interface==6.0
